/* Color in Hex #D4AF37 */

* {
    background-color: black;
}

/* Navigational Bar for header*/
#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

#left-placeholder {
    flex: 1;
}

#nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

#nav-container div {
    font-size: 50px;
    color: rgb(212, 175, 55);
}

#nav-container a {
    text-decoration: none;
}

#nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px 0;
}

#nav-link a {
    color: rgb(212, 175, 55);
    font-size: 30px;
    text-decoration: none;
}

.nav-links {
    text-decoration: none;
}

#icon-detection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

#icon-detection img {
    width: 25px;
    height: 25px;
    padding: 5px;
}