/* Color in Hex #D4AF37 */

* {
    background-color: black;
}

body {
    margin: 0;
}
/* Navigational Bar for header*/
#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    position: relative;
}

#left-placeholder {
    flex: 1;
}

#nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

#nav-container div {
    font-size: 50px;
    color: rgb(212, 175, 55);
}

#nav-container a {
    text-decoration: none;
}

/* Navigation Menu Bar */
#dropdown-menu-link, #dropdown-account-link {
    width: 400px;
    height: 100vh;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    padding: 50px 50px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in, visibility 0.3s ease-in;
}

#dropdown-menu-link a, #dropdown-account-link a {
    background-color: white;
}

#dropdown-menu-link.active, #dropdown-account-link.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    backdrop-filter: blur(0.8);
}

#dropdown-menu-link img, #dropdown-account-link img {
    background-color: transparent;
    align-self: flex-end;
}

#dropdown-menu-link a, #dropdown-account-link a {
    color: rgb(212, 175, 55);
    font-size: 30px;
    text-decoration: none;
}

/* Icons for Header*/
#icon-detection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

#icon-detection img {
    width: 25px;
    height: 25px;
    padding: 5px;
}

#main-content {
    margin: 75px 75px 110px 75px;
    padding: 75px 75px 110px 75px;
    text-align: center;
}

#main-text {
    color: white;
    font-size: 75px;
}

main, header {
    transition: filter 0.3s ease-in;
}

main.blurred, header.blurred {
    filter: blur(4px);
}

#video-file {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
}

#clothing-title {
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
    color: white;
}

#clothing-selector-container {
    display: flex;
    margin: 40px 40px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.collection-container, 
.mens-wear-container,
.womens-wear-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding: 20px;
    flex: 1;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.collection-container h3, 
.mens-wear-container h3,
.womens-wear-container h3,
.collection-container button, 
.mens-wear-container button,
.womens-wear-container button {
    color: white;
    font-size: 30px;
    text-align: center;
}

.collection-container img, 
.mens-wear-container img,
.womens-wear-container img {
    height: 400px;
    width: 100%;
    object-fit: contain;
}